<div class="page-container">
    <a class="text-decoration-none" routerLink="/domain-selector">
        <div class="card main-card">
            <p style="color: rgba(0, 0, 0, 0.39);">Classfier Selector</p>
            <div class="card">
                <p>
                    Random forest Classifier 
                </p>
                <input type="text" placeholder="| Newsletter" />
                <input type="text" placeholder="| Creatives" />
            </div>
        </div>
    </a>
    <div class="card main-card">
        <p style="color: rgba(0, 0, 0, 0.52); min-height: 200px;">QBC Selector(Query By Committee)</p>
        <!-- <textarea class="c-text-area" placeholder="QBC Selector(Query By Committee)"></textarea> -->
    </div>
    <div class="card main-card">
        <p style="color: rgba(0, 0, 0, 0.52); min-height: 200px;">Stoping Metrics Selector</p>
        <!-- <textarea class="c-text-area" placeholder="Stoping Metrics Selector"></textarea> -->
    </div>
    <div class="card main-card">
        <p style="color: rgba(0, 0, 0, 0.52); min-height: 200px;">User Ops</p>
        <!-- <textarea class="c-text-area" placeholder="User Ops"></textarea> -->
    </div>
</div>