<div class="page-container">
    <div class="card main-card">
        <p style="color: rgba(0, 0, 0, 0.52); min-height: 200px;">User Ops</p>
        <!-- <textarea class="c-text-area" placeholder="User Ops"></textarea> -->
    </div>
    <div class="card main-card">
        <p style="color: rgba(0, 0, 0, 0.52); min-height: 200px;">Data Domains Processing</p>
        <!-- <textarea class="c-text-area" placeholder="Data Domains Processing"></textarea> -->
    </div>
        <p style="color: rgba(0, 0, 0, 0.52); min-height: 200px;"></p>
        <!-- <textarea class="c-text-area" placeholder=""></textarea> -->
</div>